<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ show.title }}</title>
</head>

<body>
    <div class="container">
        <div class="row m-5">
            <div class="col-md-12">
                <a href="/shows/" class="btn btn-outline-secondary mb-3">&larr; Back to Shows</a>
                <h1>TV Show {{ show.id }}</h1>
                <p class="text-muted">Title: {{ show.title }}</p>
                <p class="text-muted">Network: {{ show.network }}</p>
                <p class="text-muted">Release Date: {{ show.release_date }}</p>
                <p class="text-muted">Description: {{ show.description }}</p>
            </div>
        </div>
        <div class="row m-5">
            <p>Last Updated: {{ show.updated_at }}</p>
            Edit this show: <a href="/shows/{{ show.id }}/edit/" class="btn btn-sm btn-outline-secondary">Edit</a>
            Delete this show: <a href="/shows/{{ show.id }}/destroy/" class="btn btn-sm btn-outline-danger">Delete</a>
        </div>
    </div>
</body>

</html>