* {
    margin: 3px;
}


h1{
    background-color: black;
    padding: 12px 16px;

}
.my {
    color: white;
}

.cloud {
    color: cyan;
}

.projects-bar {
    background-color: #6b2fa0;
    padding: 10px;
    text-align: center;
}

.projects-bar p {
    color: white;
    font-size: 30px;
}

.contact-bar {
    background-color: #a8c4e0;
    padding: 10px 16px;
    text-align: right;
}

.contact-bar a {
    color: #6b2fa0;
    font-weight: bold;
}
