* {
    margin: 3px;
}


h1{
    background-color: black;
    color: white;
    padding: 12px 16px;
}

.cloud {
    color: cyan;
}

p{
    background-color: #6b2fa0;
    color: white;
    font-size: 30px;

    padding: 10px;
    text-align: center;
}


.contact-us {
    background-color: #a8c4e0;
    padding: 10px 16px;
    text-align: right;
}

.contact-us a {
    color: #6b2fa0;
    font-weight: bold;
}
