*{
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    font-family: Arial;
}

.board {
    display: grid;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid black;
}

.board div {
    width: 60px;
    height: 60px;
}
