.container{
    margin: 50px 0 0 50px;
}
.search button{
    width: 150px;
    padding: 5px 0;
    border: 2px solid #13c3c1;
    border-radius: 20px;
    background: none;
    color: #13c3c1;
    font-weight: bold;
    font-size: 15px;
}
.plus button{
    margin: 20px 0;
    background-color: #13c3c1;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.create button{
    background-color: #7099ff;
    width: 150px;
    padding: 5px 0;
    color: white;
    box-shadow: 3px 3px black;
}