.container{
    width: 950px;
    padding: 20px;
    background-color: silver;
    margin: 0px auto;
}.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
}.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    float: left;
}.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin-left: 210px;
    padding: 20px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 0 15px 20px 0;
}#advertisement {
    height: 120px;
    width: 670px;
    background-color: purple;
}
